.portada {
    text-align: center;
    color: white;
    margin-top: 10px;
    
}

.title__one{
    font-size: 40px;
    margin: 10px;
}

#input {
    font-size: 20px;
    border-left: 10px;
    margin-top: 10px;
    
}
#buscar {
    font-size: 20px;
    background-color: rgb(36, 231, 36);
    border-top: 10px;
}

#buscar:hover {
    transform: scale(1.03);
    transition: transform 100ms ease;
}

.resident{
    float: left;
    width: 100%;
    max-width: 320px;
    background-color: #072226;
    color: white;
    border-radius: 1em;
    overflow: hidden;
    margin: 10px;
    
    
}

.information {
  margin-top: 10px;
}


.resident:hover {
 transform: scale(1.03);
 transition: transform 100ms ease;
}

.resident__header {
    position: relative;
}

.resident__status {
    position: absolute;
    top: 2.5em;
    background-color: #072226;
    width: 40%;
    padding: 0.3em 0.7em;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    gap: 0.7em;
    align-items: center;
   
}

.resident__status__circle {
    display: block;
    width: 13px;
    aspect-ratio: 1;
    background-color: #aaa;
    border-radius: 50%;
}

.Alive {
   background-color: rgb(20, 249, 20);
}

.Dead {
    background-color: red;
}

.resident__body {
    padding: 1.5em 1em 2.5em;
}

.resident__name {
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 700 ;
    color: rgb(94, 94, 94);
}

.resident__separator{
    margin-bottom: 0.5em;
    border-color: rgba(170, 170, 170, 0.445);
}

.resident__list{
    display: grid;
    gap: 0.5em;
}

.resident__item{
    display: flex;
    flex-direction: column;
}

.resident__label {
    font-size: 0.8em;
    padding-left: 1em;
    background-color: #7676765d;
}

.resident__value {
font-weight: 500;
}
